.question-card {
    border-radius: 30px;
    border: 1px solid var(--border-color);
    margin: 10px;
    padding: 10px;

    h3 {
        margin: 0;
        color: var(--theme-color);
    }

    p {
        margin: 10px 0 2px 0;
        font-size: 12px;
    }

    .question-text, .answers-list, .question-category, .question-difficulty {
        border-left: 2px solid var(--border-color);
        padding: 0 10px 0 10px;
        margin: 0;
        font-size: 16px;
    }

    .answers-list {
        list-style-type: none;
    }

    .question-category, .question-difficulty {
        width: fit-content;
    }

    button {
        margin: 10px 0 0 0;
        width: 100%;
        padding: 5px;
    }

    .question-buttons-folder
    {
        display: flex;
        gap: 10px;
    }
}